#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: left;
}

h1 {
  margin-bottom: 3em;
  letter-spacing: -0.025em;
}

.form-control {
  margin-bottom: 1em;
}

.name-input {
  width: 1px;
}
